<div class="container pt-4">

    <div *ngIf="questions">
        <a (click)="backClicked()" class="btn btn-success px-3 d-flex align-items-center float-right" role="button">
            <i class="material-icons mr-2 fa-2x">arrow_back</i> Back
        </a>
    </div>

    <div *ngIf="quiz" class="d-flex row justify-content-between align-items-center">
        <div class="col-12 px-0">
            <h4 class=" font-weight-bold">
                {{quiz.title}}
            </h4>
        </div>
    </div>

    <div *ngIf="questions">
        <div class="card bg-secondary text-white mt-3">
            <div class="card-body p-4 pt-4">
                <p class=" font-weight-bold">Question {{currentQuestion.order}} of {{questions.length}}</p>
                <p class="question">{{currentQuestion.question}}</p>
                <div class="card mb-3 bg-dark" *ngFor="let answer of currentQuestion.answers">
                    <div class="card-body py-3">
                        <input class="mr-3" type="checkbox" [id]="answerBox + answer.id" [value]="answer.id" [checked]="answer.isSelected" (change)="setSelectedAnswer(answer.id)" /> {{answer.answer}}
                    </div>
                </div>
                <p class="float-right">Powered by LeadQuizzes</p>
            </div>
        </div>
        <div>
            <a (click)="togglePreviousQuestion()" [hidden]="firstQuestion() || hide" class="btn btn-success card-footer-button my-3 px-4 " role="button">Previous </a>
            <a (click)="toggleNextQuestion()" [hidden]="lastQuestion()" class="btn btn-primary card-footer-button my-3 px-4 float-right" role="button">Next </a>
            <a (click)="submitQuiz()" [hidden]="!lastQuestion()" class="btn btn-primary card-footer-button my-3 px-4 float-right" role="button">Submit </a>

        </div>
    </div>

</div>