<div class="container pt-3" *ngIf="quiz">

    <a class="btn btn-success btn-sm px-3 d-flex align-items-center float-right mt-2">
        <i class="material-icons mr-2 fa-2x">arrow_back</i> Back
    </a>
    <div class="d-flex row justify-content-between align-items-center">
        <div class="col-12 px-0">
            <h4 class="mt-3 text-primary font-weight-bold">{{quiz.name}}</h4>
        </div>
    </div>


    <div class="card">

        <form #questionForm="ngForm">

            <div class="card-body pt-2" *ngFor="let qt of questions; let questionIndex = index">

                <p class="mt-2 font-weight-bold">Question {{questionIndex+1}}</p>
                <div class="form-group mb-2">
                    <input type="text" class="form-control alert-secondary" id="question{{questionIndex}}" name="question{{questionIndex}}" aria-describedby="basic-addon3" [(ngModel)]="qt.question" required>
                    <span class="invalid-form" *ngIf="qt?.hasError">
                        <small class="form-text text-danger">This field is required!</small>
                    </span>
                </div>

                <p class="question">Answer Type:</p>
                <div class="form-group p-0  mb-2">
                    <input type="text" class="form-control alert-secondary" id="type{{questionIndex}}" name="type{{questionIndex}}" aria-describedby="basic-addon3" [(ngModel)]="type" required disabled>
                </div>

                <a class="btn btn-success btn-sm d-flex align-items-center float-right mt-2" (click)="addAnswer(questionIndex)">
                    Add Answer
                <i class="tiny material-icons ml-1 ">add</i> 
                </a>
                <div class="d-flex row justify-content-between align-items-center">
                    <div class="col-12 px-0">
                        <p class="mt-3 font-weight-bold">Answers(Select the correct answer by clicking on the checkbox)</p>
                    </div>
                </div>

                <div class="card ">
                    <div class="card-body py-0" *ngIf="qt?.answerEmpty">
                        <p class="mb-0 text-danger">Please add answers</p>
                    </div>

                    <div class="card-body py-0" *ngIf="qt.answers.length > 0 && qt.answerNotSelected">
                        <p class="mb-0 text-danger">Please select the correct answer</p>
                    </div>


                    <div class="card-body py-2" *ngFor="let answer of qt.answers ; let answerIndex = index">
                        <div class="input-group p-0 m-0">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" name="ans{{questionIndex}}{{answerIndex}}" [checked]="answer.correct" [(ngModel)]="answer.correct" (change)="setSelectedAnswer(questionIndex,answerIndex)">
                                </div>
                            </div>
                            <input type="text" class="form-control alert-secondary " id="answer{{questionIndex}}{{answerIndex}}" name="answer{{questionIndex}}{{answerIndex}}" aria-describedby="basic-addon2" [(ngModel)]="answer.answer" required>
                            <div class="input-group-append">
                                <i class="material-icons ml-1 fa-2x input-group-text bg-danger text-white" (click)="deleteAnswer(questionIndex,answerIndex)" type="button">close</i>
                            </div>
                        </div>
                        <span class="invalid-form" *ngIf="answer.hasError">
                            <small class="form-text text-danger">This field is required!</small>
                         </span>
                    </div>

                </div>
            </div>

        </form>

        <pre>{{quizQuestions|json}}</pre>


        <div class="card-footer d-flex justify-content-between py-0">
            <a class="btn btn-sm btn-primary card-footer-button my-3 px-3" role="button" (click)="addQuestion()">Add Another Question </a>
            <button class="btn btn-sm btn-success card-footer-button my-3 px-4" role="button" (click)="saveQuestion()">Save Question </button>
        </div>

    </div>

</div>