<div class="container-fluid p-5">

    <div>
        <p><span class="title-part">Create Quiz: </span><i>(Save quiz before adding questions)</i></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    <label class="quiz-label">Quiz Name:*</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control alert-secondary" id="basic-url" aria-describedby="basic-addon3">
                    </div>

                    <label class="quiz-label">Quiz Image:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control alert-secondary" id="basic-url" aria-describedby="basic-addon3">
                    </div>

                    <label class="quiz-label">Quiz Title:*</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control alert-secondary" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <!-- <div class="input-group">
                        <input class="form-control alert-secondary" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
                        <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
                    </div> -->
                    <label class="quiz-label">Quiz Description:</label>
                    <div class="input-group mb-3">
                        <textarea class="form-control alert-secondary" rows="4">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
                        </textarea>
                    </div>

                    <label class="quiz-label">Call to Action Label:*</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control alert-secondary" id="basic-url" aria-describedby="basic-addon3">
                    </div>

                </div>
                <div class="card-footer py-0">
                    <div class="float-right">
                        <a href="#" class="btn btn-primary card-footer-button my-2 px-4 " role="button">Questions </a>
                        <a href="#" class="btn btn-success card-footer-button my-2 px-4 " role="button">Save Basic Info </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 alert-secondary py-3 pl-5 pr-0">

            <div class="card quiz-display text-white">
                <div class="card-body quiz-description">
                    <img class="card-icon" src="../../assets/images/image-1.png" alt="Bologna">
                    <!-- <img class="card-img" src="../../assets/images//index.jpeg" alt="Bologna"> -->
                    <div class="centered">
                        <h3 class="card-title ">This is a quiz</h3>
                        <p class="card-text ">This is a description for this quiz and we can describe here what the quiz is about.</p>
                        <a href="# " class="btn btn-success px-4 start-quiz-btn " role="button ">Start Quiz</a>
                    </div>
                </div>
            </div>

        </div>

    </div>