<div class="container-fluid">

    <div class="row mx-2 my-3">
        <div class="col-md-3">
            <div class="card">
                <div class="card-top">
                    <img class="card-img-top" src="../../assets/images/image.png" alt="Card image cap">
                    <a href="#" class="btn btn-danger card-top-btn btn-left" role="button">Delete</a>
                    <a href="#" class="btn btn-success card-top-btn btn-right" role="button">Edit</a>
                </div>
                <div class="card-body quiz-description">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer d-flex justify-content-between py-0 my-0">
                    <a href="#" class="btn btn-warning card-footer-button my-3 px-4 active" role="button">Take Quiz</a>
                    <a href="#" class="btn btn-warning card-footer-button my-3 px-4 active" role="button">Results</a>
                    <div class="taken-count text">
                        <p class="ml-3 pt-2"><b>934</b><br>Times Taken</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-light">
                <img class="card-img-top" src="../../assets/images/image.png" alt="Card image cap">
                <div class="card-body quiz-description">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-primary btn-sm">Small button</button>
                    <button type="button" class="btn btn-secondary btn-sm">Small button</button>
                    <p>934<br>Taken</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-light">
                <img class="card-img-top" src="../../assets/images/image.png" alt="Card image cap">
                <div class="card-body quiz-description">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a class="card-link">TAKE QUIZ</a>
                    <a class="card-link">VIEW LESSONS</a>
                    <p>934<br>Taken</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-light">
                <img class="card-img-top" src="../../assets/images/image.png" alt="Card image cap">
                <div class="card-body quiz-description">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a class="card-link">TAKE QUIZ</a>
                    <a class="card-link">VIEW LESSONS</a>
                    <p>934<br>Taken</p>
                </div>
            </div>
        </div>
    </div>

</div>