<div class="container pt-4" *ngIf="result">

    <div>
        <a (click)="backClicked()" class="btn btn-success px-3 d-flex align-items-center float-right" role="button">
            <i class="material-icons mr-2 fa-2x">arrow_back</i> Back
        </a>
    </div>

    <div class="d-flex row justify-content-between align-items-center">
        <div class="col-12 px-0">
            <h4 class=" font-weight-bold">
                {{result.name}} Results
            </h4>
        </div>
    </div>

    <div class="card bg-secondary text-white mt-3">
        <div class="card-body">
            <div *ngFor="let question of result.questions">
                <p class="font-weight-bold">Question 1</p>
                <p class="question">{{question.question}}</p>
                <div *ngFor="let answer of question.resultAnswers">
                    <div class="card mb-3" [ngClass]=" answer.answered ? answer.correct ? 'bg-success':'bg-danger': answer.correct? 'bg-success' : 'bg-dark' ">
                        <div class="card-body py-3 d-flex justify-content-between">
                            {{answer.answer}}
                            <i class="material-icons mr-2 fa-2x">{{ answer.answered ? answer.correct ? 'check' : 'close' : answer.correct ? 'check' : '' }}</i>
                        </div>
                    </div>
                </div>
            </div>
            <p class="float-right mr-2">Powered by LeadQuizzes</p>
        </div>
    </div>

</div>