<div class="container pt-4">

    <div>
        <a (click)="backClicked()" class="btn btn-success px-3 d-flex align-items-center float-right" role="button">
            <i class="material-icons mr-2 fa-2x">arrow_back</i> Back
        </a>
    </div>

    <div class="d-flex row justify-content-between align-items-center">
        <div class="col-12 px-0">
            <h4 class=" font-weight-bold">
                Quiz Results
            </h4>
        </div>
    </div>

    <div>
        <div class="card bg-secondary text-white mt-3">
            <div class="card-body">

                <p class="font-weight-bold">Question 1</p>

                <p class="question">Hey</p>

                <div class="card mb-3 bg-dark">
                    <div class="card-body py-3">
                        Answer 1
                    </div>
                </div>

                <div class="card mb-3 bg-dark">
                    <div class="card-body py-3">
                        Answer 1
                    </div>
                </div>

                <div class="card mb-3 bg-success">
                    <div class="card-body py-3 d-flex justify-content-between">
                        Answer 1
                        <i class="material-icons mr-2 fa-2x">check</i>
                    </div>
                </div>

                <p class=" font-weight-bold">Question 2</p>

                <p class="question">Hey</p>

                <div class="card mb-3 bg-dark">
                    <div class="card-body py-3">
                        Answer 1
                    </div>
                </div>

                <div class="card mb-3 bg-danger">
                    <div class="card-body py-3 d-flex justify-content-between">
                        Answer 1
                        <i class="material-icons mr-2 fa-2x">close</i>
                    </div>
                </div>

                <div class="card mb-3 bg-success">
                    <div class="card-body py-3 d-flex justify-content-between">
                        Answer 1
                        <i class="material-icons mr-2 fa-2x">check</i>
                    </div>
                </div>

                <p class="float-right mr-2">Powered by LeadQuizzes</p>
            </div>


        </div>
    </div>

</div>