<div class="container pt-3">

    <a class="btn btn-success btn-sm px-3 d-flex align-items-center float-right mt-2">
        <i class="material-icons mr-2 fa-2x">arrow_back</i> Back
    </a>
    <div class="d-flex row justify-content-between align-items-center">
        <div class="col-12 px-0">
            <h4 class="mt-3 font-weight-bold">Logs</h4>
        </div>
    </div>

    <div class="card bg-light" *ngIf="logs">
        <div class="card-body">
            <div>
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                            <th scope="col">Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let log of logs">
                            <th scope="row">{{log.id}}</th>
                            <td>{{log.name}}</td>
                            <td>{{log.action}}</td>
                            <td>{{log.time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>